<div class="catalog-page">
  <div class="catalog-wrapper">
    <div class="catalog-item" *ngFor="let catalog of catalogs">
      <div class="catalog-name">{{ catalog.CateName }}</div>

      <table class="product-table">
        <thead>
          <tr>
            <th>Ma Danh Muc</th>
            <th>Ten Danh Muc</th>
            <th>Gia San Pham</th>
            <th>Picture</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of catalog.Products">
            <td>{{ product.ProductId }}</td>
            <td>{{ product.ProductName }}</td>
            <td>{{ product.Price }}</td>
            <td><img [src]="product.Image" [alt]="product.ProductName"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


